RewriteEngine on

# Redirect from subdomian #
# Remove www for SEO #
RewriteCond %{HTTP_HOST} ^nirwasita\.waikijogja\.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www\.nirwasita\.waikijogja\.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www\.nirwasita\.com$ [NC]
RewriteRule ^(.*)$ "http\:\/\/nirwasita\.com\/$1" [R=301,L]

